@model IEnumerable<MCU_Matchup.Library.Models.ActorDetails>

@{

    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">The MCU Matchup</h1>
    <p>Compare vital Character stats between characters from The marvel cinematic universe</p>
</div>

<div class="compareBoard">
    <div class="character-one">
        <img src="https://source.unsplash.com/random/500x500" alt="" class="charOne-profilePic">
        <h4 class="text-center char-name">Character One</h4>
        <hr>
        <p>Hours on Screen: ##:##</p>
    </div>
    <div class="character-two">
        <img src="https://source.unsplash.com/random/501x501" alt="" class="charTwo-profilePic">
        <h4 class="text-center char-name">Character Two</h4>
        <hr>
        <p>Hours on Screen: ##:##</p>
    </div>
</div>
