body {
    background: url(../ims/bg.png);
}
.content {
    background-color: azure;
    padding: 15px 75px;
}

.compareBoard {
    
    display: grid;
    grid-gap: 200px;
    grid-template-columns: 1fr 1fr;
}

.character-two {
    
    
}


.charOne-profilePic {
    width: 100%;
}
.charTwo-profilePic {
    width: 100%;
}


.char-name {
    font-weight: 900;
}

