body {
    background: url(../ims/bg.png);
}
.content {
    background-color: azure;
    padding: 15px 75px;
}


.scenario {
    background-color: cadetblue;
    display: grid;
    place-items: center;
}
.scenario-name{

}


.scenario-text {
    padding: 1.2rem;
    color: white;
}

.compareBoard {
    display: grid;
    height: 90vh;
    grid-gap: 200px;
    grid-template-columns: 1fr 1fr;
}

.character-two {
    
    
}


.charOne-profilePic {
    width: 100%;
}
.charTwo-profilePic {
    width: 100%;
}


.char-name {
    font-weight: 900;
}


.run-matchup {
    display: grid;
    place-items: center;
}